.col-responsive-table-container {
  overflow-x: auto;
}
// .col-responsive-table-container::-webkit-scrollbar {
//   width: 5px;
// }

/* For WebKit-based browsers */
.col-responsive-table-container::-webkit-scrollbar {
  width: 5px; /* Adjust width as needed */
}

/* For Firefox and some other browsers */
.col-responsive-table-container::-webkit-scrollbar-thumb {
  width: 5px; /* Adjust width as needed */
}
