.col-responsive-table-container {
  overflow-x: auto;
  -ms-overflow-style: none; // Internet Explorer 10+
  scrollbar-width: none; // Firefox
}

.col-responsive-table-container::-webkit-scrollbar {
  display: none; // Webkit browsers (Chrome, Safari)
}

.has-error {
  border: 1px solid red;
  border-radius: 10px;
  outline: none;
}

.has-error:focus {
  outline: none;
}

// style= {
//     {
//     position: "absolute", top: "10px", width: "30%", left: "0px"
//   }
// }

.alert-position {
  position: fixed;
  top: 10px;
  width: 500px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
