.cursor-pointer {
  cursor: pointer;
}

.col-responsive-table-container {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.responsive-table {
  overflow-x: auto;
}
.responsive-table::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.table-scrollable th:nth-child(1),
.table-scrollable td:nth-child(1) {
  position: sticky;
  left: 0;
}
.table-scrollable th:nth-child(2),
.table-scrollable td:nth-child(2) {
  position: sticky;
  left: 150px;
}
.table-scrollable th:nth-child(3),
.table-scrollable td:nth-child(3) {
  position: sticky;
  left: 300px;
}

.has-error {
  border: 1px solid red;
  border-radius: 10px;
  outline: none;
}

.has-error:focus {
  outline: none;
}
.alert-position {
  position: fixed;
  top: 10px;
  width: 500px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.button-container {
  display: flex;
}
.back-button {
  background-color: #ccc;
  padding: 6px 10px;
  border-radius: 5px;
  margin-top: 14px;
  cursor: pointer;
}
.eyeButton {
  position: absolute;
  right: 10px;
  top: 17px;
  background-color: #fff;
}
.listGroup-container {
  position: relative;
}
.listGroup {
  position: absolute;
  top: -15px;
  width: 100%;
}
.print-row {
  display: none;
}
.bussness-name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 25px;
}
.profile-image-container img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.menu-button-navbar {
  display: none;
}
.icons-navbar {
  margin-left: 10px;
  margin-right: 10px;
}
.top-nav-input {
  border-radius: 5px;
  font-size: 14px;
  padding: 2px 5px;
  border: 1px solid #ccc;
}
.top-nav-input:focus {
  outline: none;
}
.single-bill {
  padding: 10px 20px;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
}
.export-button {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  padding: 4px 10px;
}
.report-title {
  font-weight: 600;
  font-size: 20px;
}
.container-of-month-and-year {
  background-color: #f2f1f19f;
  padding: 40px 20px;
  border-radius: 10px;
}
.card-reports {
  background-color: #f2f1f19f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  gap: 10px;
}
.card-reports div:nth-child(1) {
  font-weight: 500;
}
.card-reports div:nth-child(2) {
  font-weight: 600;
  font-size: 20px;
}
.input-box-bottom-border {
  background-color: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #575757;
  border-radius: 0px;
}
.input-box-bottom-border:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border-bottom: 2px solid #575757;
}

// style={{
//   backgroundColor: "transparent",
//   borderTop: "1px solid transparent",
//   borderLeft: "1px solid transparent",
//   borderRight: "1px solid transparent",
//   outline: "none",
//   borderBottom: "1px solid #212529",
// }}
.login-container-col {
  display: flex;
  align-items: center;
  justify-content: end;
  min-height: 100vh;
  padding-right: 60px;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .hide-col-on-mobile-and-tab {
    display: none;
  }
  .login-container-col {
    display: flex;
    align-items: center;
    justify-content: end;
    min-height: 95vh;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    align-items: center;
  }
  .bottom-navbar-componat-container {
    position: fixed;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 0;
    z-index: 10;
  }
  .bottom-nav-button-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  .children-componts-container {
    margin-bottom: 100px;
  }
  .top-navbar {
    display: none;
  }
  .bussness-name {
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
  }
  .profile-image-container span {
    display: none;
  }
  .bag-navbar {
    display: none;
  }
  .menu-button-navbar {
    // display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons-navbar {
    margin-left: 5px;
    margin-right: 5px;
  }
  .menu-List-of-nav-submenu {
    position: absolute;
    top: 65px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 16px 16px;
    z-index: 10;
    box-shadow: 0px 15px 10px -15px #111;
  }
  .menu-mobile-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
  }
  .search-input-box-container-navbar {
    position: absolute;
    top: 65px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 16px 16px;
    z-index: 10;
    box-shadow: 0px 15px 10px -15px #111;
  }
  .top-nav-input {
    width: 100%;
    border-radius: 5px;
    background-color: rgba(204, 204, 204, 0.2);
    font-size: 16px;
    padding: 10px 5px;
    border: 1px solid #ccc;
  }
  .single-bill {
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
}
